*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #444;
  background-color: #fff;
  margin: 0;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
  margin: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(ul[class]) {
  list-style: none;
}

img,
source {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

input[type=radio] {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input[type=submit] {
  border: none;
}

fieldset {
  border: none;
}
