$tablet-width: 768px;
$desktop-width: 1440px;
$primary-button-color: #68b738;
$primary-decor-line-color: #d9d9d9;
$secondary-decor-line-color: #cdcdcd;
$primary-decor-background-color: #f2f2f2;
$duration: 0.3s;
