.footer {
  flex-shrink: 0;
  flex-grow: 0;
  background-color: $primary-decor-background-color;

  &__container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__cat-logo {
    margin-bottom: 18px;
    transition-duration: $duration;
  }

  &__cat-logo:hover,
  &__cat-logo:focus {
    opacity: 0.8;
  }

  &__cat-logo:active {
    opacity: 0.6;
  }

  &__socials {
    position: relative;
    margin: 0 auto;
    margin-bottom: 18px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 280px;
      height: 1px;
      background-color: $primary-decor-line-color;
    }
    &::after {
      top: 100%;
    }
  }

  @media (min-width: $tablet-width) {
    &__container {
      padding-top: 53px;
      padding-bottom: 55px;
      flex-direction: row;
      justify-content: space-between;
    }

    &__cat-logo {
      margin-bottom: 0;
    }

    &__socials {
      margin: 0;
      &::before,
      &::after {
        display: none;
      }
    }

    &__html-logo {

    }
  }

  @media (min-width: $desktop-width) {
    &__container {
      padding-top: 66px;
      padding-bottom: 66px;
    }
  }
}
