.header {
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;

  &--catalog,
  &--form {
    border-bottom: 1px solid $primary-decor-line-color;
  }

  &__container {
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cat-logo-wrapper {
    display: flex;
    align-items: center;
    gap: 56px;
    flex-shrink: 0;

    cursor: pointer;
    transition-duration: $duration;
  }

  &__cat-logo-wrapper:hover,
  &__cat-logo-wrapper:focus {
    opacity: 0.8;
  }

  &__cat-logo-wrapper:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {

    &__container {
      padding-top: 25px;
      padding-bottom: 25px;
      align-items: normal;
    }


    &--catalog,
    &--form {
      border: none;
    }
    &__cat-logo-wrapper {
      gap: 13px;
      //margin-right: 94px;
    }
  }
  @media (min-width: $desktop-width) {

    &__container {
      padding-top: 55px;
      padding-bottom: 29px;
    }
  }
}
