.html-logo {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__text-part {
    @include text-options("Lato", 16px, 125%, #444, none);
    transition-duration: $duration;
  }

  &__icon-part {
    display: block;
    width: 27px;
    height: 34px;
    mask-image: url("../../images/html-logo-picture.svg");
    -webkit-mask-image: url("../../images/html-logo-picture.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-color: #666;
    transition-duration: $duration;
  }

  &:hover,
  &:focus {
    .html-logo__icon-part {
      background-color: $primary-button-color;
    }
  }

  &:active {
    .html-logo__text-part {
      opacity: 0.3;
    }
    .html-logo__icon-part {
      background-color: $primary-button-color;
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    width: 162px;
  }

}
