.html-logo {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__text-part {
    @include text-options("Lato", 16px, 125%, #444, none);
    text-decoration: none;
  }

  &__icon-part {
    text-decoration: none;
  }

  @media (min-width: $tablet-width) {
    width: 168px;
  }

}
