.navigation {
  display: flex;
  align-items: center;
  @include text-options("Oswald", 20px, 100%, #000, uppercase);

  &__list {
    display: none;
  }

  &__item {
    flex-shrink: 0;
  }

  /*&__toggle:hover .navigation__list {
    display: flex;
    flex-basis: 198px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }*/

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-basis: 436px;
    font-size: 18px;
    line-height: 133.333%;
    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  @media (min-width: $desktop-width) {
    flex-basis: 475px;
    font-size: 20px;
    line-height: 100%;
    color: #fff;
    background-color: $primary-button-color;
  }
}
