.section-catalog {
  padding-top: 27px;

  &__container {
    margin-bottom: 27px;
  }

  &__title {
    @include text-options("Oswald", 36px, 100%, #000, none);
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    flex-wrap: wrap;
    flex-shrink: 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 768px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      background-color: $primary-decor-line-color;
    }

    &:last-child::after {
      content: "";
      position: absolute;
      width: 768px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      background-color: $primary-decor-line-color;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 40px;

    &__container {
      margin-bottom: 70px;
    }

    &__title {
      font-size: 60px;
      margin-bottom: 84px;
    }

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 60px;
    }

    &__item::before,
    &__item:last-child::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;

    &__container {
      margin-bottom: 76px;
    }

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 81px;
      row-gap: 63px;
    }
  }
}
