.section-additionals {

  &__title {
    @include text-options("Oswald", 24px, 100%, #000, none);
  }

  &__termin {
    @include text-options("Oswald", 16px, 100%, #222, uppercase);
  }

  &__description {
    font-size: 14px;
    line-height: 100%;
  }

  &__text {
    font-size: 16px;
    line-height: 125%;
    color: #fff;
  }

  &__wrapper {
    background-color: #68B738;
    background-image: url("../../images/gift-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__gift-icon {
    background-image: url("../../images/icons/stack.svg#gift");
    background-repeat: no-repeat;
    background-size: 57px 61px;
  }

}
