.section-programm {
  padding-top: 27px;
  padding-bottom: 18px;

  &__title {
    @include text-options("Oswald", 36px, 100%, #000000, none);
    margin-bottom: 36px;
  }

  &__text {
    @include text-options("Oswald", 14px, 128.57%, #000000, uppercase);
    margin-bottom: 38px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 60px;

    &__container {
      padding-left: 70px;
      padding-right: 70px;
    }

    &__title {
      font-size: 60px;
      margin-bottom: 54px;
    }

    &__text {
      font-size: 20px;
      line-height: 150%;
      margin-bottom: 65px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
    padding-bottom: 79px;

    &__container {
      padding-left: 110px;
      padding-right: 110px;
    }
  }
}
