.section-contacts {
  display: grid;
  &--catalog,
  &--form {
    background-color: $primary-decor-background-color;
  }
  &__map {
    margin: 0 auto;
    width: 100vw;
    height: 362px;
    border: none;
    display: block;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  &__container {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  &__container--catalog,
  &__container--form {
    background-color: $primary-decor-background-color;
  }

  &__title {
    @include text-options("Oswald", 16px, 125%, #000, uppercase);
    flex-shrink: 0;
    margin-bottom: 0;
  }

  &__text {
    font-size: 14px;
    line-height: 142.857%;
    flex-shrink: 0;
    margin-bottom: 0;
  }

  @media (min-width:$tablet-width) {

    &__map {
      width: 100vw;
      height: 400px;
    }

    &__wrapper {
      padding: 61px 40px;
    }

    &__title {
      font-size: 20px;
      line-height: 130%;
    }

    &__text {
      font-size: 16px;
      line-height: 125%;
      text-align: right;
    }

    &__address {
      display: block;
      margin-top: 18px;
    }
  }

  @media (min-width: $desktop-width) {

    &__container {
      background: none;
      grid-column: 1/2;
      grid-row: 2/3;
      z-index: 2;
    }

    &__wrapper {
      width: 566px;
      height: 200px;
      margin-top: 95px;
      padding: 61px 80px;
      background-color: #fff;
    }

    &__text {
      text-align: left;
    }
  }
}
