.section-tasks {

margin-bottom: 20px;

  &__title {
    @include text-options("Oswald", 24px, 154.167%, #000, uppercase);
    margin-top: 0;
    margin-bottom: 29px;
    margin-left: 90px;
  }

  &__text {
    font-size: 14px;
    line-height: 128.571%;
    margin-bottom: 23px;
  }

  &__wrapper {
    position: relative;
    padding: 30px 20px 18px 20px;
    background-color: #F2F2F2;
    &::before {
      content: "";
      position: absolute;
      top: 24px;
      left: 20px;
      width: 50px;
      height: 50px;
      background-color: #68B738;
      border-radius: 50%;
      z-index: 1;
    }
    &--slim-cat {
      margin-bottom: 20px;
      &::after {
        content: "";
        position: absolute;
        width: 36px;
        height: 50px;
        top: 21px;
        left: 27px;
        background-image: url("../../images/icons/stack.svg#cat-slim");
        background-repeat: no-repeat;
        z-index: 2;
      }
    }
    &--pro-cat::after {
      content: "";
      position: absolute;
      width: 67px;
      height: 28px;
      top: 35px;
      left: 13px;
      background-image: url("../../images/icons/stack.svg#cat-pro");
      background-repeat: no-repeat;
      z-index: 2;
    }
  }

  &__decor-line {
    display: block;
    width: 240px;
    height: 1px;
    margin: 0 auto;
    background-color: #D9D9D9;
    margin-bottom: 15px;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 134px;
    padding: 4px 0;
    margin: 0;
    text-align: left;
    &::after {
      content: "";
      display: block;
      width: 32px;
      height: 10px;
      background-image: url("../../images/icons/stack.svg#arrow");
      background-repeat: no-repeat;
    }
  }


  &__link-icon {
    width: 32px;
    height: 10px;
    mask-image: url("../../images/icons/stack.svg#arrow");
    -webkit-mask-image: url("../../images/icons/stack.svg#arrow.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-color: #000;
  }
}
