.socials {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 23px;
  padding-bottom: 20px;

  &__item {
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    display: block;
  }

  &__icon {
    display: block;
    background-color: #666666;
    mask-position: bottom;
    transition-duration: $duration;
  }

  &__icon--vk {
    mask-image: url("../../images/icons/stack.svg#socials-vk");
    -webkit-mask-image: url("../../images/icons/stack.svg#socials-vk");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 27px;
    height: 17px;
  }

  &__icon--youtube {
    mask-image: url("../../images/icons/stack.svg#socials-yt");
    -webkit-mask-image: url("../../images/icons/stack.svg#socials-yt");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 24px;
    height: 19px;
  }

  &__icon--telegram {
    mask-image: url("../../images/icons/stack.svg#socials-tg");
    -webkit-mask-image: url("../../images/icons/stack.svg#socials-tg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 20px;
    height: 17px;
  }

  &__icon:hover,
  &__icon:focus {
    background-color: $primary-button-color;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 40px;
  }
}
