.socials {

  &__link {
    display: block;
    width: 28px;
    height: 22px;
  }

  &__icon {
    display: block;
    background-color: #666666;
    mask-position: bottom;
  }

  &__icon--vk {
    mask-image: url("../../images/icons/stack.svg#socials-vk");
    mask-repeat: no-repeat;
    width: 27px;
    height: 17px;
  }

  &__icon--youtube {
    mask-image: url("../../images/icons/stack.svg#socials-yt");
    mask-repeat: no-repeat;
    width: 24px;
    height: 19px;
  }

  &__icon--telegram {
    mask-image: url("../../images/icons/stack.svg#socials-tg");
    mask-repeat: no-repeat;
    width: 20px;
    height: 17px;
  }
}
