.toggle {
  position: relative;
  border: none;
  background: #fff;
  padding: 0;
  height: 18px;
  &--open {
    width: 24px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
  }
  &--open::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    width: 24px;
    height: 2px;
    background-color: #000;
  }
  &--close {
    width: 18px;
    transform: rotate(45deg);
  }
  &--close::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
  }
  &--close::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
